<template name="home">
  <div id="container-section">
    <h1>Welcome to Test001</h1>
	<form class="shorter-url-form">
	  <input type="text" name="text" id="current-url" placeholder="Paste your URL"/>
	  <input type="submit" value="Short Me">
	</form>
  </div>
</template>